<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<!--this is very simple tamplates use:-->
<!--{{ name }} is from {{ place }}-->
<h1>WELCOME to text analayazer. Enter your texr below</h1>
<form action="/removepunc" method="get">
    <textarea name="text" spellcheck="false" style="margin: 0px 911px 0px 0px;width: 1341px;height: 253px;"></textarea>
<!--   <input type="checkbox" name="removepunc">Remove punctuations<br>-->
    <button type="submit">Analys Text</button>
</form>
</body>
</html>